<!DOCTYPE html>
<html>
<head>
    <title>Emoji Homework (｡☉౪ ⊙｡)</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <a href="/"><img src="img/logo.png" alt="Logo" class="logo" />My Emoji Editor ヽ(≧Д≦)ノ</a>
    </header>
    <nav class="navigation">
        <a href="/">Editor</a>
        <a href="/dictionary">Dictionary</a>
    </nav>
    {{{body}}}
</body>
</html>
