<!-- divisionForm.hbs -->
<section>
    {{#if result}}
    <p>Result: {{result}}</p>
    {{/if}}
    <h2>Divide Calculator</h2>
    <form action="/divide" method="POST">
        <div>
            <label for="numerator">Numerator:</label>
            <input type="number" id="numerator" name="numerator" required>
        </div>
        <div>
            <label for="denominator">Denominator:</label>
            <input type="number" id="denominator" name="denominator" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</section>
