<section>
    <h2>divide calculator</h2>
    <form action="/divide" method="POST">
        <div>
            <label for="numerator">分子：</label>
            <input type="number" id="numerator" name="numerator" required>
        </div>
        <div>
            <label for="denominator">分母：</label>
            <input type="number" id="denominator" name="denominator" required>
        </div>
        <button type="submit">submit</button>
    </form>
</section>
