/* public/css/style.css */
body {
    font-family: Arial, sans-serif;
}

h2 {
    color: navy;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    border: 2px solid #007BFF;
    border-radius: 5px;  /*圆角*/
    margin: 10px 0;
    padding: 8px;
    border-color: #28a745; /* 绿色边框 */
    box-shadow: 0 0 8px #28a745; /* 添加轻微的阴影效果，增强视觉反馈 */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: #f8f9fa; /* 浅灰色背景，提高对比度 */
    color: #495057; /* 深色文字 */
    
}

button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
